@*<style>

 #start{

    background-color:lightgray;
    
    }

    </style>*@

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    @Html.Partial("_PartialScript")
    @Html.Partial("_PartialCSS")
   
</head>
<body>
  
      @Html.Partial("_MainLayout")
       @RenderBody()






    <footer>
        <center>
            <br><br><br><br>

            <p>&copy; @DateTime.Now.Year - ANDERSON GROUP BPO Inc.</p>
        </center>
    </footer>
</body>
</html>


