 @*@{ 
    Layout = null;
}*@

<style>
    .modal-body {
                background-color: white;
                background-size: contain;
                background-repeat: no-repeat;
                }

    .input-group-addon {
        background-color: transparent;
        border: none;
        color: black;
        font-weight: bold;
    }
    .form-control {
        border-color: black;
    }
</style>


<div class="modal-body">
    <div ng-app="myApp" ng-controller="ByodController as model" ng-init="model.List()">
        <input type="hidden" name="ByodId" value="@Model.ByodId" />
       
       
        <br />

        <div class="input-group">
            <span class="input-group-addon"> Type of Device:</span>
            <input type="number" class="form-control" name="NoOfDevices" value="@Model.TypeOfDeviceId" placeholder="No. of Devices" required>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">Brand Name:</span>
            <select class="form-control" name="BrandName" value="@Model.BrandName" placeholder="Brand Name" required>
                <option>Apple</option>
                <option>Acer</option>
                <option>Asus</option>
                <option>Dell</option>
                <option>Hewlett-Packard</option>
                <option>Lenovo</option>
                <option>Samsung</option>
                <option>Toshiba</option>
            </select>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon"> Contact Number:</span>
            <input type="tel" format="09xx-xxx-xxxx" pattern="^09\d{2}\d{3}\d{4}$" class="form-control" name="ContactNo" value="@Model.ContactNo" placeholder="Contact Number" oninvalid="setCustomValidity('Please follow the 09********* format.')" oninput="setCustomValidity('')" required />
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">E-mail:</span>
            <input type="email" class="form-control" name="Email" value="@Model.Email" placeholder="Email" required>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-addon">Serial Number:</span>
            <input type="text" class="form-control" name="SerialNumber" value="@Model.SerialNumber" placeholder="Serial Number" required>
        </div>
    </div>

    <br>
    @*submit button and cancel button*@
    <div class="modal-footer" style="border-color:blue;">
        <center>
            <button class="btn btn-success" button type="submit" value="Submit"><i class="glyphicon glyphicon-check"></i> Submit</button>
            <button class="btn btn-danger" button type="button" data-dismiss="modal" value="Close"><i class="glyphicon glyphicon-remove-sign"></i> Cancel</button>
        </center>
    </div>
</div>